In [1]:
options(device=pdf) # turn off flashy window on each block execution
# options(repr.plot.width=6, repr.plot.height=4)
Sys.setlocale("LC_ALL", "C")
initialWidth = getOption('width')
options(width=80) # for old folks like me who can't see shit and set font large

[1] "LC_CTYPE=C;LC_NUMERIC=C;LC_TIME=C;LC_COLLATE=C;LC_MONETARY=C;LC_MESSAGES=en_US.UTF-8;LC_PAPER=en_US.UTF-8;LC_NAME=C;LC_ADDRESS=C;LC_TELEPHONE=C;LC_MEASUREMENT=en_US.UTF-8;LC_IDENTIFICATION=C"

In [4]:
data = read.csv('data/baseball.csv.xz')
summary(data)
str(data)

      Team     League        Year            RS               RA
 BAL    : 47   AL:616   Min.   :1962   Min.   : 463.0   Min.   : 472.0
 BOS    : 47   NL:616   1st Qu.:1977   1st Qu.: 652.0   1st Qu.: 649.8
 CHC    : 47            Median :1989   Median : 711.0   Median : 709.0
 CHW    : 47            Mean   :1989   Mean   : 715.1   Mean   : 715.1
 CIN    : 47            3rd Qu.:2002   3rd Qu.: 775.0   3rd Qu.: 774.2
 CLE    : 47            Max.   :2012   Max.   :1009.0   Max.   :1103.0
 (Other):950
       W              OBP              SLG               BA
 Min.   : 40.0   Min.   :0.2770   Min.   :0.3010   Min.   :0.2140
 1st Qu.: 73.0   1st Qu.:0.3170   1st Qu.:0.3750   1st Qu.:0.2510
 Median : 81.0   Median :0.3260   Median :0.3960   Median :0.2600
 Mean   : 80.9   Mean   :0.3263   Mean   :0.3973   Mean   :0.2593
 3rd Qu.: 89.0   3rd Qu.:0.3370   3rd Qu.:0.4210   3rd Qu.:0.2680
 Max.   :116.0   Max.   :0.3730   Max.   :0.4910   Max.   :0.2940

    Playoffs        RankSeason     RankPlayoffs         G
 Min.   :0.0000   Min.   :1.000   Min.   :1.000   Min.   :158.0
 1st Qu.:0.0000   1st Qu.:2.000   1st Qu.:2.000   1st Qu.:162.0
 Median :0.0000   Median :3.000   Median :3.000   Median :162.0
 Mean   :0.1981   Mean   :3.123   Mean   :2.717   Mean   :161.9
 3rd Qu.:0.0000   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:162.0
 Max.   :1.0000   Max.   :8.000   Max.   :5.000   Max.   :165.0
                  NA's   :988     NA's   :988
      OOBP             OSLG
 Min.   :0.2940   Min.   :0.3460
 1st Qu.:0.3210   1st Qu.:0.4010
 Median :0.3310   Median :0.4190
 Mean   :0.3323   Mean   :0.4197
 3rd Qu.:0.3430   3rd Qu.:0.4380
 Max.   :0.3840   Max.   :0.4990
 NA's   :812      NA's   :812

'data.frame':	1232 obs. of  15 variables:
 $ Team        : Factor w/ 39 levels "ANA","ARI","ATL",..: 2 3 4 5 7 8 9 10 11 12 ...
 $ League      : Factor w/ 2 levels "AL","NL": 2 2 1 1 2 1 2 1 2 1 ...
 $ Year        : int  2012 2012 2012 2012 2012 2012 2012 2012 2012 2012 ...
 $ RS          : int  734 700 712 734 613 748 669 667 758 726 ...
 $ RA          : int  688 600 705 806 759 676 588 845 890 670 ...
 $ W           : int  81 94 93 69 61 85 97 68 64 88 ...
 $ OBP         : num  0.328 0.32 0.311 0.315 0.302 0.318 0.315 0.324 0.33 0.335 ...
 $ SLG         : num  0.418 0.389 0.417 0.415 0.378 0.422 0.411 0.381 0.436 0.422 ...
 $ BA          : num  0.259 0.247 0.247 0.26 0.24 0.255 0.251 0.251 0.274 0.268 ...
 $ Playoffs    : int  0 1 1 0 0 0 1 0 0 1 ...
 $ RankSeason  : int  NA 4 5 NA NA NA 2 NA NA 6 ...
 $ RankPlayoffs: int  NA 5 4 NA NA NA 4 NA NA 2 ...
 $ G           : int  162 162 162 162 162 162 162 162 162 162 ...
 $ OOBP        : num  0.317 0.306 0.315 0.331 0.335 0.319 0.305 0.336 0.357 0.314 ...
 $ OSLG        : num  0.415 0.378 0.403 0.428 0.424 0.405 0.39 0.43 0.47 0.402 ...

In [5]:
table(data$Year)

1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1973 1974 1975 1976 1977 1978
  20   20   20   20   20   20   20   24   24   24   24   24   24   24   26   26
1979 1980 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1996 1997
  26   26   26   26   26   26   26   26   26   26   26   26   26   28   28   28
1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
  30   30   30   30   30   30   30   30   30   30   30   30   30   30   30

In [15]:
nrow(as.data.frame(table(data$Year)))
length(table(data$Year))

[1] 47

[1] 47

In [17]:
playoffs = subset(data, Playoffs == 1)

In [19]:
str(playoffs)

'data.frame':	244 obs. of  15 variables:
 $ Team        : Factor w/ 39 levels "ANA","ARI","ATL",..: 3 4 9 12 25 26 32 33 36 39 ...
 $ League      : Factor w/ 2 levels "AL","NL": 2 1 2 1 1 1 2 2 1 2 ...
 $ Year        : int  2012 2012 2012 2012 2012 2012 2012 2012 2012 2012 ...
 $ RS          : int  700 712 669 726 804 713 718 765 808 731 ...
 $ RA          : int  600 705 588 670 668 614 649 648 707 594 ...
 $ W           : int  94 93 97 88 95 94 94 88 93 98 ...
 $ OBP         : num  0.32 0.311 0.315 0.335 0.337 0.31 0.327 0.338 0.334 0.322 ...
 $ SLG         : num  0.389 0.417 0.411 0.422 0.453 0.404 0.397 0.421 0.446 0.428 ...
 $ BA          : num  0.247 0.247 0.251 0.268 0.265 0.238 0.269 0.271 0.273 0.261 ...
 $ Playoffs    : int  1 1 1 1 1 1 1 1 1 1 ...
 $ RankSeason  : int  4 5 2 6 3 4 4 6 5 1 ...
 $ RankPlayoffs: int  5 4 4 2 3 4 1 3 5 4 ...
 $ G           : int  162 162 162 162 162 162 162 162 162 162 ...
 $ OOBP        : num  0.306 0.315 0.305 0.314 0.311 0.306 0.313 0.313 0.309 0.303 ...
 $ OSLG        : num  0.378 0.403 0.39 0.402 0.419 0.378 0.393 0.387 0.408 0.373 ...

In [20]:
summary(playoffs)

      Team     League        Year            RS               RA
 NYY    : 23   AL:122   Min.   :1962   Min.   : 583.0   Min.   :472.0
 ATL    : 17   NL:122   1st Qu.:1982   1st Qu.: 730.0   1st Qu.:614.0
 STL    : 16            Median :1998   Median : 780.5   Median :661.5
 LAD    : 14            Mean   :1993   Mean   : 786.3   Mean   :666.1
 OAK    : 14            3rd Qu.:2005   3rd Qu.: 836.0   3rd Qu.:711.0
 BOS    : 13            Max.   :2012   Max.   :1009.0   Max.   :903.0
 (Other):147
       W               OBP              SLG               BA
 Min.   : 82.00   Min.   :0.2980   Min.   :0.3350   Min.   :0.2350
 1st Qu.: 91.00   1st Qu.:0.3280   1st Qu.:0.3990   1st Qu.:0.2597
 Median : 95.00   Median :0.3380   Median :0.4200   Median :0.2670
 Mean   : 95.12   Mean   :0.3373   Mean   :0.4191   Mean   :0.2668
 3rd Qu.: 98.00   3rd Qu.:0.3460   3rd Qu.:0.4373   3rd Qu.:0.2740
 Max.   :116.00   Max.   :0.3730   Max.   :0.4910   Max.   :0.2930

    Playoffs   RankSeason     RankPlayoffs         G              OOBP
 Min.   :1   Min.   :1.000   Min.   :1.000   Min.   :158.0   Min.   :0.2960
 1st Qu.:1   1st Qu.:2.000   1st Qu.:2.000   1st Qu.:162.0   1st Qu.:0.3140
 Median :1   Median :3.000   Median :3.000   Median :162.0   Median :0.3210
 Mean   :1   Mean   :3.123   Mean   :2.717   Mean   :161.9   Mean   :0.3214
 3rd Qu.:1   3rd Qu.:4.000   3rd Qu.:4.000   3rd Qu.:162.0   3rd Qu.:0.3280
 Max.   :1   Max.   :8.000   Max.   :5.000   Max.   :165.0   Max.   :0.3480
                                                             NA's   :130
      OSLG
 Min.   :0.3610
 1st Qu.:0.3920
 Median :0.4035
 Mean   :0.4038
 3rd Qu.:0.4170
 Max.   :0.4590
 NA's   :130

In [23]:
table(playoffs$Year)
unique(table(playoffs$Year))
table(table(playoffs$Year))

1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1973 1974 1975 1976 1977 1978
   2    2    2    2    2    2    2    4    4    4    4    4    4    4    4    4
1979 1980 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1996 1997
   4    4    4    4    4    4    4    4    4    4    4    4    4    4    8    8
1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
   8    8    8    8    8    8    8    8    8    8    8    8    8    8   10

[1]  2  4  8 10

 2  4  8 10
 7 23 16  1

In [26]:
PlayoffTable = table(playoffs$Year)
PlayoffTable
names(PlayoffTable)
str(names(PlayoffTable))

1962 1963 1964 1965 1966 1967 1968 1969 1970 1971 1973 1974 1975 1976 1977 1978
   2    2    2    2    2    2    2    4    4    4    4    4    4    4    4    4
1979 1980 1982 1983 1984 1985 1986 1987 1988 1989 1990 1991 1992 1993 1996 1997
   4    4    4    4    4    4    4    4    4    4    4    4    4    4    8    8
1998 1999 2000 2001 2002 2003 2004 2005 2006 2007 2008 2009 2010 2011 2012
   8    8    8    8    8    8    8    8    8    8    8    8    8    8   10

 [1] "1962" "1963" "1964" "1965" "1966" "1967" "1968" "1969" "1970" "1971"
[11] "1973" "1974" "1975" "1976" "1977" "1978" "1979" "1980" "1982" "1983"
[21] "1984" "1985" "1986" "1987" "1988" "1989" "1990" "1991" "1992" "1993"
[31] "1996" "1997" "1998" "1999" "2000" "2001" "2002" "2003" "2004" "2005"
[41] "2006" "2007" "2008" "2009" "2010" "2011" "2012"

 chr [1:47] "1962" "1963" "1964" "1965" "1966" "1967" "1968" ...

In [27]:
PlayoffTable[c('1990', '2001')]

1990 2001
   4    8