In [34]:
options(device=pdf) # turn off flashy window on each block execution
# options(repr.plot.width=6, repr.plot.height=4)
Sys.setlocale("LC_ALL", "C")
initialWidth = getOption('width')
options(width=80) # for old folks like me who can't see shit and set font large

[1] "LC_CTYPE=C;LC_NUMERIC=C;LC_TIME=C;LC_COLLATE=C;LC_MONETARY=C;LC_MESSAGES=en_US.UTF-8;LC_PAPER=en_US.UTF-8;LC_NAME=C;LC_ADDRESS=C;LC_TELEPHONE=C;LC_MEASUREMENT=en_US.UTF-8;LC_IDENTIFICATION=C"

In [7]:
mvt = read.csv('data/mvtWeek1.csv')
head(mvt)

       ID           Date           LocationDescription Arrest Domestic Beat District CommunityArea
1 8951354 12/31/12 23:15                        STREET  FALSE    FALSE  623        6            69
2 8951141 12/31/12 22:00                        STREET  FALSE    FALSE 1213       12            24
3 8952745 12/31/12 22:00 RESIDENTIAL YARD (FRONT/BACK)  FALSE    FALSE 1622       16            11
4 8952223 12/31/12 22:00                        STREET  FALSE    FALSE  724        7            67
5 8951608 12/31/12 21:30                        STREET  FALSE    FALSE  211        2            35
6 8950793 12/31/12 20:30                        STREET   TRUE    FALSE 2521       25            19
  Year Latitude Longitude
1 2012 41.75628 -87.62164
2 2012 41.89879 -87.66130
3 2012 41.96919 -87.76767
4 2012 41.76933 -87.65773
5 2012 41.83757 -87.62176
6 2012 41.92856 -87.75400

In [31]:
str(mvt)

'data.frame':	191641 obs. of  11 variables:
 $ ID                 : int  8951354 8951141 8952745 8952223 8951608 8950793 8950760 8951611 8951802 8950706 ...
 $ Date               : Factor w/ 131680 levels "1/1/01 0:01",..: 42823 42822 42822 42822 42821 42820 42819 42818 42816 42815 ...
 $ LocationDescription: Factor w/ 78 levels "ABANDONED BUILDING",..: 72 72 62 72 72 72 72 72 72 72 ...
 $ Arrest             : logi  FALSE FALSE FALSE FALSE FALSE TRUE ...
 $ Domestic           : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ Beat               : int  623 1213 1622 724 211 2521 423 231 1021 1215 ...
 $ District           : int  6 12 16 7 2 25 4 2 10 12 ...
 $ CommunityArea      : int  69 24 11 67 35 19 48 40 29 24 ...
 $ Year               : int  2012 2012 2012 2012 2012 2012 2012 2012 2012 2012 ...
 $ Latitude           : num  41.8 41.9 42 41.8 41.8 ...
 $ Longitude          : num  -87.6 -87.7 -87.8 -87.7 -87.6 ...

In [11]:
max(mvt$ID)

[1] 9181151

In [12]:
min(mvt$Beat)

[1] 111

In [32]:
str(subset(mvt, Arrest==T))

'data.frame':	15536 obs. of  11 variables:
 $ ID                 : int  8950793 8951802 8950570 8949895 8949557 8949844 8949258 8950331 8949392 8949625 ...
 $ Date               : Factor w/ 131680 levels "1/1/01 0:01",..: 42820 42816 42812 42454 42449 42467 42466 42463 42445 42443 ...
 $ LocationDescription: Factor w/ 78 levels "ABANDONED BUILDING",..: 72 72 40 10 72 72 72 72 72 72 ...
 $ Arrest             : logi  TRUE TRUE TRUE TRUE TRUE TRUE ...
 $ Domestic           : logi  FALSE FALSE FALSE FALSE FALSE FALSE ...
 $ Beat               : int  2521 1021 825 2512 2535 414 813 1933 313 1123 ...
 $ District           : int  25 10 8 25 25 4 8 19 3 11 ...
 $ CommunityArea      : int  19 29 66 18 23 46 62 6 42 23 ...
 $ Year               : int  2012 2012 2012 2012 2012 2012 2012 2012 2012 2012 ...
 $ Latitude           : num  41.9 41.9 41.8 41.9 41.9 ...
 $ Longitude          : num  -87.8 -87.7 -87.7 -87.8 -87.7 ...

In [35]:
summary(mvt)

       ID                      Date
 Min.   :1310022   5/16/08 0:00  :    11
 1st Qu.:2832144   10/17/01 22:00:    10
 Median :4762956   4/13/04 21:00 :    10
 Mean   :4968629   9/17/05 22:00 :    10
 3rd Qu.:7201878   10/12/01 22:00:     9
 Max.   :9181151   10/13/01 22:00:     9
                   (Other)       :191582
                     LocationDescription   Arrest         Domestic
 STREET                        :156564   Mode :logical   Mode :logical
 PARKING LOT/GARAGE(NON.RESID.): 14852   FALSE:176105    FALSE:191226
 OTHER                         :  4573   TRUE :15536     TRUE :415
 ALLEY                         :  2308   NA's :0         NA's :0
 GAS STATION                   :  2111
 DRIVEWAY - RESIDENTIAL        :  1675
 (Other)                       :  9558
      Beat         District     CommunityArea        Year         Latitude
 Min.   : 111   Min.   : 1.00   Min.   : 0      Min.   :2001   Min.   :41.64
 1st Qu.: 722   1st Qu.: 6.00   1st Qu.:22      1st Qu.:2003   1st Qu.:41.77
 Median :1121   Median :10.00   Median :32      Median :2006   Median :41.85
 Mean   :1259   Mean   :11.82   Mean   :38      Mean   :2006   Mean   :41.84
 3rd Qu.:1733   3rd Qu.:17.00   3rd Qu.:60      3rd Qu.:2009   3rd Qu.:41.92
 Max.   :2535   Max.   :31.00   Max.   :77      Max.   :2012   Max.   :42.02
                NA's   :43056   NA's   :24616                  NA's   :2276
   Longitude
 Min.   :-87.93
 1st Qu.:-87.72
 Median :-87.68
 Mean   :-87.68
 3rd Qu.:-87.64
 Max.   :-87.52
 NA's   :2276

In [23]:
getOption('width')

[1] 80

In [22]:
options(width=80)

In [36]:
mvt$Date[1]

[1] 12/31/12 23:15
131680 Levels: 1/1/01 0:01 1/1/01 0:05 1/1/01 0:30 1/1/01 10:00 ... 9/9/12 9:50

In [44]:
DateConvert = as.Date(strptime(mvt$Date, '%m/%d/%y %H:%M'))